<%- include('./partials/header'); %> 

<div class="container mt-4">
    <div class="row">
        <% articles.forEach(function(article){  %> 
            <div class="col-md-4 my-3 align-items-stretch">
                <div class="card h-100">
                    <img src="<%= article.image_url %> " alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%= article.title %></h5>
                        <p class="card-text"><%= article.description %></p>
                    </div>
                    <p class="card-footer text-muted mb-0"><%= article.source %> </p>
                </div>
            </div>
        <% }) %> 
        
    </div>
</div>


<%- include('./partials/footer'); %> 