<%- include('./partials/header'); %> 

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="lead list-group-item">Current Weather</li>
                    <li class="list-group-item">Temperature: <%= weather.temp %></li>
                    <li class="list-group-item">Max Temperature: <%= weather.temp_max %></li>
                    <li class="list-group-item">Min Temperature: <%= weather.temp_min %></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-12" id="lead-container">
                    <div class="card" id="lead-card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img alt="Card image cap" class="card-img-top embed-responsive-item" 
                            src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
                         </div>
                        <div class="card-img-overlay">
                            <h4 class="text-light">
                                Hello
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" 
                        alt="" class="card-img-top">
                        <h4 class="card-title">Tile 1</h4>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" 
                        alt="" class="card-img-top">
                        <h4 class="card-title">Tile 1</h4>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" 
                        alt="" class="card-img-top">
                        <h4 class="card-title">Tile 1</h4>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" 
                        alt="" class="card-img-top">
                        <h4 class="card-title">Tile 1</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer'); %> 