<%- include('./partials/header'); %> 

<% if(articles.length!=0) {%> 

<div class="container mt-5">
    <div class="row">
        <% articles.forEach(function(article){  %> 
            <div class="col-sm-6 col-lg-4 my-3">
                <div class="card shadow h-100 w-100">
                    <img src="<%= article.image_url %> " alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%= article.title %></h5>
                        <p class="card-text"><%= article.description %></p>
                    </div>
                    <div id="read-more" class="mb-3">
                        <a href="<%= article.article_url %>" class="btn btn-primary">Read More</a>
                    </div>
                    <div class="card-footer row justify-content-around mx-0 px-0 align-items-center">
                        <div class="col-6">
                            <p class="text-muted mb-0"><%= article.source %></p>
                        </div>
                        <div class="col-3">
                            <% if(!article.isFav) {%>
                                <form class="form-inline" action="/add/<%= article._id %>" method="POST">
                                    <button class="btn btn-outline"><i class="fa fa-heart-o heart-icon"></i></button>
                                </form>
                            <% }else{ %>
                                <form action="/delete/<%= article._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-outline"><i class="fa fa-heart heart-icon"></i></button>
                                </form>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>
        <% }) %> 
        
    </div>
</div>
<% }else{ %> 
    <div class="container">
        <div class="jumbotron text-center">
            <p class="display-2">Such empty...</p>
        </div>
    </div>
<% } %> 

<%- include('./partials/footer'); %> 